body
{
    color:black;
    text-align: center;
    font-family: "Arial";
}
#container
{
    width:70px;
    padding:2cm;
    text-align: left;
    border: 1px solid black;
}

#cotainer h1
{
    font-size: 20px,
}